<html lang='en'>
  <head>
    <script>
      // import { configure } from "@strukturaio/tracker";

      // configure({
      //   fpOptions: {
      //     apiKey: "F0LH0cZ8chxrGGy2KwHz",
      //     region: "eu"
      //   },
      //   trackLocalhostAs: "example.com"
      // });
    </script>
    <meta charset='utf-8' />
    <title>A/B Testing</title>
    <slot name='head' />
  </head>
  <body>
    <slot />
  </body>
</html>

<script is:inline defer>
  const getCookieVariants = () => {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; experiments=`);
    if (parts.length === 2) {
      const cookieValue = decodeURIComponent(parts.pop().split(";").shift());
      const variants = {};
      const pairs = cookieValue.split(",");
      for (const pair of pairs) {
        const [exp, val] = pair.split(":");
        if (exp && val) variants[exp.trim()] = val.trim();
      }
      return variants;
    }
    return {};
  };

  // All elements with data-experiment attributes
  const allElements = document.querySelectorAll("[data-experiment]");
  const experiments = [...new Set(Array.from(allElements).map((el) => el.dataset.experiment.split(":")[0]))];

  const urlParams = new URLSearchParams(window.location.search);

  const experimentParam = urlParams.get("experiment");
  const urlVariants = {};
  if (experimentParam) {
    const pairs = experimentParam.split(",");
    for (const pair of pairs) {
      const trimmed = pair.trim();
      const parts = trimmed.split(":");
      if (parts.length !== 2) continue;

      urlVariants[parts[0].trim()] = parts[1].trim();
    }
  }

  const cookieVariants = getCookieVariants();

  // Determine which variant of experiment to display
  experiments.forEach((experiment) => {
    const elements = document.querySelectorAll(`[data-experiment^="${experiment}:"]`);
    if (elements.length > 0) {
      const availableVariants = Array.from(elements).map((el) => el.dataset.experiment.split(":")[1]);

      let variant = urlVariants[experiment];
      if (variant && !availableVariants.includes(variant)) {
        variant = null; // Invalid URL variant
      }
      let shouldAddMeta = false;

      if (!variant) {
        // No URL variant, check cookie
        const cookieVariant = cookieVariants[experiment];
        if (cookieVariant && availableVariants.includes(cookieVariant)) {
          variant = cookieVariant;
          shouldAddMeta = true;
        } else {
          variant = availableVariants[0]; // First available
        }
      }

      // Add meta tag for collector
      if (shouldAddMeta) {
        const meta = document.createElement("meta");
        meta.name = "experiment";
        meta.content = `${experiment}:${variant}`;
        document.head.appendChild(meta);
      }

      // Removing hidden attribute from selected variant
      const component = document.querySelector(`[data-experiment="${experiment}:${variant}"]`);
      if (component) component.hidden = false;
    }
  });
</script>
