<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>A/B Testing</title>
    <slot name='head' />
  </head>
  <body>
    <slot />
  </body>
</html>

<script is:inline defer>
  const getCookie = (experimentName) => {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${`experiment-${experimentName}`}=`);
    if (parts.length === 2) return parts.pop().split(";").shift();
  };

  const allElements = document.querySelectorAll("[data-experiment]");
  const experiments = [...new Set(Array.from(allElements).map((el) => el.dataset.experiment.split(":")[0]))];

  const urlParams = new URLSearchParams(window.location.search);

  const experimentParam = urlParams.get("experiment");
  const urlVariants = {};
  if (experimentParam) {
    const pairs = experimentParam.split(",");
    for (const pair of pairs) {
      const trimmed = pair.trim();
      const parts = trimmed.split(":");
      if (parts.length !== 2) continue;

      urlVariants[parts[0].trim()] = parts[1].trim();
    }
  }

  experiments.forEach((experiment) => {
    const elements = document.querySelectorAll(`[data-experiment^="${experiment}:"]`);
    if (elements.length > 0) {
      const availableVariants = Array.from(elements).map((el) => el.dataset.experiment.split(":")[1]);
      let variant = urlVariants[experiment];
      if (variant && !availableVariants.includes(variant)) {
        variant = null;
      }
      let shouldAddMeta = !!variant;

      if (!variant) {
        const cookieVariant = getCookie(experiment);
        if (cookieVariant && availableVariants.includes(cookieVariant)) {
          variant = cookieVariant;
          shouldAddMeta = true;
        } else {
          variant = availableVariants[0];
        }
      }

      if (shouldAddMeta) {
        const meta = document.createElement("meta");
        meta.name = "experiment";
        meta.content = `${experiment}:${variant}`;
        document.head.appendChild(meta);
      }

      const component = document.querySelector(`[data-experiment="${experiment}:${variant}"]`);
      if (component) component.hidden = false;
    }
  });
</script>
